<script type="text/javascript" src="i/js.js"></script>
<div class="section nav">
<span id="view" class="active" onclick="set('view')">View</span>
<span id="edit" onclick="set('edit')">Edit</span>
<span id="add" onclick="set('add')">Add</span>
</div>
<div class="section" id="viewContent">
<table class="list">
	<tr>
		<th>ID</th>
		<th>Type</th>
		<th>Data</th>
		<th>&nbsp;</th>
	</tr>
	<tr>
		<td>[list.id]</td>
		<td>[list.type;block=tr]</td>
		<td>[list.data]</td>
		<td><a href="?do=directives&zone=[onshow.zone]&act=deletedirective&id=[list.id]">Delete</a></a></td>
	</tr>
</table>
</div>
<div class="section" id="editContent">
<form action="?do=directives&zone=[onshow.zone]&act=editdirective" method="POST">
<table class="list">
	<tr>
		<th>&nbsp;</th>
		<th>Type</th>
		<th>Data</th>
		<th>&nbsp;</th>
	</tr>
	<tr>
		<td><input name="is[[list2.id;block=tr]]" type="checkbox" value="1"></td>
		<td><select name="type[[list2.id]]">
			<option value="[type.id]">[type.name;block=option]</option>
			<option>[list2.typeID;ope=html;select]</option>
		</select></td>
		<td><input name="data[[list2.id]]" type="text" value="[list2.data]"></td>
		<td><a href="?do=directives&zone=[onshow.zone]&act=deletedirective&id=[list.id]">Delete</a></a></td>
	</tr>
</table>
<div class="bottom"><input type="submit" value="Edit directives"></div>
</form>
</div>
<div class="section" id="addContent">
<form action="?do=directives&zone=[onshow.zone]&act=adddirective" method="POST">
<table class="add">
<tr><td>Type:</td><td>
<select name="type">
<option value="[type2.id]">[type2.name;block=option]</option>
</select>
</td></tr>
<tr><td>Data:</td><td><input type="text" name="data"></td></tr>
<tr><td>&nbsp;</td><td><input type="submit" value="Add directive"></td></tr>
</table>
</form>
</div>
