<html>
	<head>
		<title>BINDUpd Registration</title>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
<body>
	<div class="error">[blk.val;block=div]</div>
	<form name="reg" method="POST">
	<table class="reg">
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username" value="[onshow.username]"></td>
			<td class="desc">3 to 255 characters, a-z, A-Z, 0-9, _</td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="text" name="password" value="[onshow.password]"></td>
			<td class="desc">3 to 255 characters, a-z, A-Z, 0-9, _</td>			
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Register"></td>
		</tr>
	</table>
	</form>
</body>
</html>